.custom-navbar {
    background-color: #1b357e 9 !important;
  }

  .navbar-nav {
    margin: 0 auto; /* centraliza horizontalmente */
  }

  .navbar-nav .nav-link {
    color: #fff !important; /* forçando branco nos links */
    padding: 0.5rem 1rem;
  }

  .navbar-nav .nav-link:hover {
    text-decoration: underline;
  }