.carousel-inner {
    height: 400px; /* Altura fixa */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-item {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .carousel-img {
    max-height: 100%;
    width: auto;
    object-fit: contain;
    margin: auto;
  }
  