<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2000"
    data-bs-pause="false">

    <div class="carousel-inner py-2">
        <div class="carousel-item active">
            <img src="https://projetofinalapi.onrender.com/img/territory.png" class="d-block w-100 carousel-img" alt="territory">
        </div>
        <div class="carousel-item">
            <img src="https://projetofinalapi.onrender.com/img/ranger.png" class="d-block w-100 carousel-img" alt="ranger">
        </div>
        <div class="carousel-item">
            <img src="https://projetofinalapi.onrender.com/img/mustang.png" class="d-block w-100 carousel-img" alt="mustang">
        </div>
        <div class="carousel-item">
            <img src="https://projetofinalapi.onrender.com/img/maverick.jpg" class="d-block w-100 carousel-img" alt="mustang">
        </div>
    </div>

    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
</div>