<div class="container-fluid login__page">
  <div class="row w-100">
    <div class="col-lg-6 d-lg-flex imagem__login justify-content-center align-items-center"></div>
    <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center forms__login">
      <div class="imgForms mb-3">
        <img src="https://projetofinalapi.onrender.com/img/fordsimples.png" alt="logo_ford" class="img-fluid">
      </div>
      <h2 class="mb-4 text-primary" style="color: #003399!important ;">Boas-Vindas</h2>
        <app-inicial></app-inicial>
    </div>
</div>