<!-- Adicione isso no <head> do seu index.html se ainda não tiver -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <form [formGroup]="userForms" (ngSubmit)="onUserSave()">
      <div class="mb-3 position-relative">
        <label for="exampleInputEmail1" class="form-label" for="nome"></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-user"></i>
          </span>
          <input
            type="email"
            class="form-control"
            id="exampleInputEmail1"
            aria-describedby="emailHelp"
            formControlName="name"
            name="name"
            placeholder="Digite aqui seu usuário*"
            required
          />
        </div>
        <div class="text-danger">
          <span *ngIf="userForms.controls['name'].errors?.['required'] && userForms.controls['name'].touched">
            Isso é obrigatório
          </span>
        </div>
      </div>
    
      <div class="mb-3 position-relative">
        <label for="exampleInputPassword1" class="form-label"></label>
        <div class="input-group">
          <span class="input-group-text">
            <i class="fas fa-lock"></i>
          </span>
          <input
            type="password"
            class="form-control"
            id="exampleInputPassword1"
            formControlName="password"
            placeholder="Digite aqui sua senha*"
            required
          />
        </div>
        <div class="text-danger">
          <span *ngIf="userForms.controls['password'].errors?.['required'] && userForms.controls['password'].touched">
            Isso é obrigatório
          </span>
          <div
            class="alerta__validacao"
            *ngIf="userForms.controls['password'].errors?.['minlength'] && userForms.controls['password'].touched"
          >
            <span>Senha deve ter no mínimo 5 caracteres!</span>
          </div>
        </div>
      </div>
    
      <button type="submit" [disabled]="userForms.invalid" class="btn btn-primary">Login</button>
    </form>
    