:host {
    flex: 1;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    /* Faz o conteúdo ocupar o espaço disponível */
}

/* Botão */
.card-hover {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
.btn-ford {
    background-color: #1b357e;
    color: white;
}

.section-bg {
  position: relative;
  background-image: url('https://projetofinalapi.onrender.com/img/background.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 12px;
  padding: 1rem 1rem; /* // padding: top/bottom 1rem, left/right 1rem */
  margin: 1rem 0; /* // ADICIONA margem vertical reduzida (em cima e embaixo) */
  overflow: hidden;
}

  
  .section-bg::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.3); /* escurece um pouco o fundo */
    z-index: 0;
  }
  
  .section-bg > * {
    position: relative;
    z-index: 1;
  }
  

  /* .card-body {
    padding: 1rem; 
  } */
  
  .card.card-hover {
    min-height: 280px; /* altura mínima menor */
  }
  