<header>
  <app-header></app-header> 
</header>
<div class="container-fluid">
  <div *ngIf="selectorVehicles" class="row justify-content-center gy-4 m-2">

    <!-- Card: Selecionar Veículo -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 bg-lightblue">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-car-front-fill text-primary me-2"></i>
            Selecionar Veículo
          </h5>
          <select id="carSelector" name="carSelector" class="form-select shadow-sm" [(ngModel)]="seletorDeCarros"
            (change)="carroSelecionado()">
            <option [value]="i" *ngFor="let v of veiculos; index as i">
              {{v.vehicle}}
            </option>
          </select>
        </div>
      </div>
    </div>

    <!-- Card: Total de Vendas -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 bg-lightblue">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-bar-chart-fill text-success me-2"></i>
            Total de Vendas
          </h5>
          <p class="card-text">{{ selectorVehicles.volumetotal }}</p>
          <p class="card-text">Unid.</p>
        </div>
      </div>
    </div>

    <!-- Card: Conectados -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 bg-lightblue">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-wifi text-info me-2"></i>
            Conectados
          </h5>
          <p class="card-text">{{ selectorVehicles.connected }}</p>
          <p class="card-text">Unid.</p>
        </div>
      </div>
    </div>

    <!-- Card: Unidade Software -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 bg-lightblue">

        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-arrow-repeat text-warning me-2"></i>
            Unidade Software
          </h5>
          <p class="card-text"> {{ selectorVehicles.softwareUpdates }}</p>
          <p class="card-text">Unid.</p>
        </div>
      </div>
    </div>

    <!-- Card: Imagem -->
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100 bg-lightblue">

        <div class="card-body text-center">
          <h5 class="card-title">
            <i class="bi bi-image-fill text-secondary me-2"></i>
            Imagem do Veículo
          </h5>
          <img class="img-fluid rounded shadow-sm" *ngIf="selectorVehicles.img" [src]="selectorVehicles.img"
            alt="Imagem de {{ selectorVehicles.vehicle }}">
        </div>
      </div>
    </div>

  </div>

  <!-- VIN (sempre por último e 100% da largura) -->
  <div class="row mt-5">
    <div class="col-12">
      <app-vin></app-vin>
    </div>
  </div>
</div>

<footer>
  <app-footer></app-footer>
</footer>